@font-face {
  font-family: 'PanuonIcon';
  src:  url('fonts/PanuonIcon.eot?qsnj1l');
  src:  url('fonts/PanuonIcon.eot?qsnj1l#iefix') format('embedded-opentype'),
    url('fonts/PanuonIcon.ttf?qsnj1l') format('truetype'),
    url('fonts/PanuonIcon.woff?qsnj1l') format('woff'),
    url('fonts/PanuonIcon.svg?qsnj1l#PanuonIcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PanuonIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e900";
}
.icon-up:before {
  content: "\e901";
}
.icon-right:before {
  content: "\e902";
}
.icon-down:before {
  content: "\e903";
}
.icon-left-circle:before {
  content: "\e904";
}
.icon-up-circle:before {
  content: "\e905";
}
.icon-right-circle:before {
  content: "\e906";
}
.icon-down-circle:before {
  content: "\e907";
}
.icon-left-circle-solid:before {
  content: "\e908";
}
.icon-up-circle-solid:before {
  content: "\e909";
}
.icon-right-circle-solid:before {
  content: "\e90a";
}
.icon-down-circle-solid:before {
  content: "\e90b";
}
.icon-left-arrow:before {
  content: "\e90c";
}
.icon-up-arrow:before {
  content: "\e90d";
}
.icon-right-arrow:before {
  content: "\e90e";
}
.icon-down-arrow:before {
  content: "\e90f";
}
.icon-left-arrow-circle:before {
  content: "\e910";
}
.icon-up-arrow-circle:before {
  content: "\e911";
}
.icon-right-arrow-circle:before {
  content: "\e912";
}
.icon-down-arrow-circle:before {
  content: "\e913";
}
.icon-left-arrow-circle-solid:before {
  content: "\e914";
}
.icon-up-arrow-circle-solid:before {
  content: "\e915";
}
.icon-right-arrow-circle-solid:before {
  content: "\e916";
}
.icon-down-arrow-circle-solid:before {
  content: "\e917";
}
.icon-left-triangle:before {
  content: "\e918";
}
.icon-top-triangle:before {
  content: "\e919";
}
.icon-right-triangle:before {
  content: "\e91a";
}
.icon-down-triangle:before {
  content: "\e91b";
}
.icon-left-triangle-solid:before {
  content: "\e91c";
}
.icon-up-triangle-solid:before {
  content: "\e91d";
}
.icon-right-triangle-solid:before {
  content: "\e91e";
}
.icon-down-triangle-solid:before {
  content: "\e91f";
}
.icon-left-start:before {
  content: "\e920";
}
.icon-up-start:before {
  content: "\e921";
}
.icon-right-end:before {
  content: "\e922";
}
.icon-down-end:before {
  content: "\e923";
}
.icon-backward:before {
  content: "\e924";
}
.icon-upward:before {
  content: "\e925";
}
.icon-forward:before {
  content: "\e926";
}
.icon-downward:before {
  content: "\e927";
}
.icon-search:before {
  content: "\e928";
}
.icon-link:before {
  content: "\e929";
}
.icon-minimize:before {
  content: "\e92a";
}
.icon-normal-size:before {
  content: "\e92b";
}
.icon-maximize:before {
  content: "\e92c";
}
.icon-close:before {
  content: "\e92d";
}
.icon-check:before {
  content: "\e92e";
}
.icon-info:before {
  content: "\e92f";
}
.icon-info-solid:before {
  content: "\e930";
}
.icon-warning:before {
  content: "\e931";
}
.icon-warning-solid:before {
  content: "\e932";
}
.icon-error:before {
  content: "\e933";
}
.icon-error-solid:before {
  content: "\e934";
}
.icon-success:before {
  content: "\e935";
}
.icon-success-solid:before {
  content: "\e936";
}
.icon-question:before {
  content: "\e937";
}
.icon-question-solid:before {
  content: "\e938";
}
.icon-user:before {
  content: "\e939";
}
.icon-user-solid:before {
  content: "\e93a";
}
.icon-user-circle:before {
  content: "\e93b";
}
.icon-user-circle-solid:before {
  content: "\e93c";
}
.icon-timer:before {
  content: "\e93d";
}
.icon-timer-solid:before {
  content: "\e93e";
}
.icon-clock:before {
  content: "\e93f";
}
.icon-clock-solid:before {
  content: "\e940";
}
.icon-home:before {
  content: "\e941";
}
.icon-home-solid:before {
  content: "\e942";
}
.icon-language:before {
  content: "\e943";
}
.icon-language-solid:before {
  content: "\e944";
}
.icon-expand:before {
  content: "\e945";
}
.icon-expand-solid:before {
  content: "\e946";
}
.icon-collapse:before {
  content: "\e947";
}
.icon-collapse-solid:before {
  content: "\e948";
}
.icon-collapse-triangle:before {
  content: "\e949";
}
.icon-expand-triangle:before {
  content: "\e94a";
}
.icon-eye-close:before {
  content: "\e94b";
}
.icon-eye-open:before {
  content: "\e94c";
}
.icon-internet:before {
  content: "\e94d";
}
.icon-internet-solid:before {
  content: "\e94e";
}
.icon-internet-error:before {
  content: "\e94f";
}
.icon-internet-error-solid:before {
  content: "\e950";
}
.icon-history:before {
  content: "\e951";
}
.icon-like:before {
  content: "\e952";
}
.icon-like-half:before {
  content: "\e953";
}
.icon-like-solid:before {
  content: "\e954";
}
.icon-unlike:before {
  content: "\e955";
}
.icon-star:before {
  content: "\e956";
}
.icon-star-half:before {
  content: "\e957";
}
.icon-star-solid:before {
  content: "\e958";
}
.icon-scan:before {
  content: "\e959";
}
.icon-barcode:before {
  content: "\e95a";
}
.icon-qrcode:before {
  content: "\e95b";
}
.icon-camera:before {
  content: "\e95c";
}
.icon-camera-solid:before {
  content: "\e95d";
}
.icon-recorder:before {
  content: "\e95e";
}
.icon-recorder-solid:before {
  content: "\e95f";
}
.icon-diamond:before {
  content: "\e960";
}
.icon-diamond-solid:before {
  content: "\e961";
}
.icon-diamond-vip:before {
  content: "\e962";
}
.icon-diamond-vip-solid:before {
  content: "\e963";
}
.icon-crown:before {
  content: "\e964";
}
.icon-crown-solid:before {
  content: "\e965";
}
.icon-lock:before {
  content: "\e966";
}
.icon-lock-solid:before {
  content: "\e967";
}
.icon-unlock:before {
  content: "\e968";
}
.icon-unlock-solid:before {
  content: "\e969";
}
.icon-filter:before {
  content: "\e96a";
}
.icon-filter-solid:before {
  content: "\e96b";
}
.icon-music:before {
  content: "\e96c";
}
.icon-music-solid:before {
  content: "\e96d";
}
.icon-download:before {
  content: "\e96e";
}
.icon-upload:before {
  content: "\e96f";
}
.icon-refresh:before {
  content: "\e970";
}
.icon-redo:before {
  content: "\e971";
}
.icon-undo:before {
  content: "\e972";
}
.icon-pin:before {
  content: "\e973";
}
.icon-pin-solid:before {
  content: "\e974";
}
.icon-ellipse:before {
  content: "\e975";
}
.icon-ellipse-solid:before {
  content: "\e976";
}
.icon-sun:before {
  content: "\e977";
}
.icon-sun-solid:before {
  content: "\e978";
}
.icon-moon:before {
  content: "\e979";
}
.icon-moon-solid:before {
  content: "\e97a";
}
.icon-cloud:before {
  content: "\e97b";
}
.icon-cloud-solid:before {
  content: "\e97c";
}
.icon-rain:before {
  content: "\e97d";
}
.icon-rain-solid:before {
  content: "\e97e";
}
.icon-cloud-thunder:before {
  content: "\e97f";
}
.icon-cloud-thunder-solid:before {
  content: "\e980";
}
.icon-cloud-snow:before {
  content: "\e981";
}
.icon-cloud-snow-solid:before {
  content: "\e982";
}
.icon-wet:before {
  content: "\e983";
}
.icon-wet-solid:before {
  content: "\e984";
}
.icon-water:before {
  content: "\e985";
}
.icon-water-solid:before {
  content: "\e986";
}
.icon-fire:before {
  content: "\e987";
}
.icon-fire-solid:before {
  content: "\e988";
}
.icon-thunder:before {
  content: "\e989";
}
.icon-thunder-solid:before {
  content: "\e98a";
}
.icon-snow:before {
  content: "\e98b";
}
.icon-snow-solid:before {
  content: "\e98c";
}
.icon-temperature:before {
  content: "\e98d";
}
.icon-temperature-solid:before {
  content: "\e98e";
}
.icon-setting:before {
  content: "\e98f";
}
.icon-setting-solid:before {
  content: "\e990";
}
.icon-portable-power:before {
  content: "\e991";
}
.icon-portable-power-solid:before {
  content: "\e992";
}
.icon-server:before {
  content: "\e993";
}
.icon-server-solid:before {
  content: "\e994";
}
.icon-app:before {
  content: "\e995";
}
.icon-app2:before {
  content: "\e996";
}
.icon-share:before {
  content: "\e997";
}
.icon-share-solid:before {
  content: "\e998";
}
.icon-map-marker:before {
  content: "\e999";
}
.icon-map-marker-solid:before {
  content: "\e99a";
}
.icon-map:before {
  content: "\e99b";
}
.icon-map-solid:before {
  content: "\e99c";
}
.icon-map-with-mark:before {
  content: "\e99d";
}
.icon-map-with-mark-solid:before {
  content: "\e99e";
}
.icon-cloud-upload:before {
  content: "\e99f";
}
.icon-cloud-upload-solid:before {
  content: "\e9a0";
}
.icon-cloud-download:before {
  content: "\e9a1";
}
.icon-cloud-download-solid:before {
  content: "\e9a2";
}
.icon-cloud-server:before {
  content: "\e9a3";
}
.icon-cloud-server-solid:before {
  content: "\e9a4";
}
.icon-file:before {
  content: "\e9a5";
}
.icon-file-solid:before {
  content: "\e9a6";
}
.icon-file-add:before {
  content: "\e9a7";
}
.icon-file-add-solid:before {
  content: "\e9a8";
}
.icon-folder:before {
  content: "\e9a9";
}
.icon-folder-solid:before {
  content: "\e9aa";
}
.icon-folder-add:before {
  content: "\e9ab";
}
.icon-folder-add-solid:before {
  content: "\e9ac";
}
.icon-folder-open:before {
  content: "\e9ad";
}
.icon-folder-open-solid:before {
  content: "\e9ae";
}
.icon-pencil:before {
  content: "\e9af";
}
.icon-pencil-solid:before {
  content: "\e9b0";
}
.icon-pencil-mark:before {
  content: "\e9b1";
}
.icon-pencil-mark-solid:before {
  content: "\e9b2";
}
.icon-edit:before {
  content: "\e9b3";
}
.icon-pencil-edit-solid:before {
  content: "\e9b4";
}
.icon-calculator:before {
  content: "\e9b5";
}
.icon-calculator-solid:before {
  content: "\e9b6";
}
.icon-calendar-full:before {
  content: "\e9b7";
}
.icon-calendar-full-solid:before {
  content: "\e9b8";
}
.icon-calendar-empty:before {
  content: "\e9b9";
}
.icon-calendar-empty-solid:before {
  content: "\e9ba";
}
.icon-calendar:before {
  content: "\e9bb";
}
.icon-calendar-solid:before {
  content: "\e9bc";
}
.icon-note:before {
  content: "\e9bd";
}
.icon-note-solid:before {
  content: "\e9be";
}
.icon-comment:before {
  content: "\e9bf";
}
.icon-comment-solid:before {
  content: "\e9c0";
}
.icon-earth:before {
  content: "\e9c1";
}
.icon-earth-solid:before {
  content: "\e9c2";
}
.icon-order:before {
  content: "\e9c3";
}
.icon-order-solid:before {
  content: "\e9c4";
}
.icon-aim:before {
  content: "\e9c5";
}
.icon-aim-solid:before {
  content: "\e9c6";
}
.icon-full-screen:before {
  content: "\e9c7";
}
.icon-full-screen-cancel:before {
  content: "\e9c8";
}
.icon-validate:before {
  content: "\e9c9";
}
.icon-validate-solid:before {
  content: "\e9ca";
}
.icon-light-off:before {
  content: "\e9cb";
}
.icon-light-off-solid:before {
  content: "\e9cc";
}
.icon-light:before {
  content: "\e9cd";
}
.icon-light-solid:before {
  content: "\e9ce";
}
.icon-life:before {
  content: "\e9cf";
}
.icon-life-solid:before {
  content: "\e9d0";
}
.icon-node-tree:before {
  content: "\e9d1";
}
.icon-node-tree1:before {
  content: "\e9d2";
}
.icon-subprocess:before {
  content: "\e9d3";
}
.icon-subprocess-solid:before {
  content: "\e9d4";
}
.icon-certificate:before {
  content: "\e9d5";
}
.icon-certificate-solid:before {
  content: "\e9d6";
}
.icon-credentials:before {
  content: "\e9d7";
}
.icon-credentials-solid:before {
  content: "\e9d8";
}
.icon-stack:before {
  content: "\e9d9";
}
.icon-stack-solid:before {
  content: "\e9da";
}
.icon-mouse:before {
  content: "\e9db";
}
.icon-mouse-solid:before {
  content: "\e9dc";
}
.icon-mouse-click:before {
  content: "\e9dd";
}
.icon-mouse-click-solid:before {
  content: "\e9de";
}
